body {
    /* display: grid; */
	grid-template-rows: 80px 1fr;
	grid-template-columns: 250px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:10px;
    background-color: blue;
}
.sidebar {
	grid-area: sidebar;
	padding:10px;
    background-color: #555;
}
.content {
	grid-area: content;
}

.intro {
    font-family: Garamond, serif;
    color: blue;
  }
.pic {
    border-radius: 50%;
	width: 500px; /* width of container */
    height: 500px; /* height of container */
    object-fit: cover;
	float: right;
  }